<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Inflammatory Bowel Disease Use Case</title>
	<meta name="author" content="Jeffrey Long">
	<meta name="reference" content="https://github.com/Rathachai/d3rdf">
	<meta name="reference" content="https://www.mdcalc.com/mayo-score-disease-activity-index-dai-ulcerative-colitis">
	
	<style type="text/css">
		.node {
		  stroke: #fff;
		  fill:#ddd;
		  stroke-width: 1.5px;
		}

		.link {
		  stroke: #999;
		  stroke-opacity: .6;
		  stroke-width: 1px;
		}

		marker {
			stroke: #999;
			fill:rgba(124,240,10,0);
		}

		.node-text {
		  font: 11px sans-serif;
		  fill:black;
		}

		.link-text {
		  font: 9px sans-serif;
		  fill:grey;
		}
		
		svg{
			border:1px solid black;
		}
	</style>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script>
		function filterNodesById(nodes,id){
			return nodes.filter(function(n) { return n.id === id; });
		}
		
		function triplesToGraph(triples){
		
			svg.html("");
			//Graph
			var graph={nodes:[], links:[]};
			
			//Initial Graph from triples
			triples.forEach(function(triple){
				var subjId = triple.subject;
				var predId = triple.predicate;
				var objId = triple.object;
				
				var subjNode = filterNodesById(graph.nodes, subjId)[0];
				var objNode  = filterNodesById(graph.nodes, objId)[0];
				
				if(subjNode==null){
					subjNode = {id:subjId, label:subjId, weight:1};
					graph.nodes.push(subjNode);
				}
				
				if(objNode==null){
					objNode = {id:objId, label:objId, weight:1};
					graph.nodes.push(objNode);
				}
			
				
				graph.links.push({source:subjNode, target:objNode, predicate:predId, weight:1});
			});
			
			return graph;
		}
		
		
		function update(){
			// ==================== Add Marker ====================
			svg.append("svg:defs").selectAll("marker")
			    .data(["end"])
			  .enter().append("svg:marker")
			    .attr("id", String)
			    .attr("viewBox", "0 -5 10 10")
			    .attr("refX", 30)
			    .attr("refY", -0.5)
			    .attr("markerWidth", 6)
			    .attr("markerHeight", 6)
			    .attr("orient", "auto")
			  .append("svg:polyline")
			    .attr("points", "0,-5 10,0 0,5")
			    ;
				
			// ==================== Add Links ====================
			var links = svg.selectAll(".link")
								.data(graph.links)
								.enter()
								.append("line")
									.attr("marker-end", "url(#end)")
									.attr("class", "link")
									.attr("stroke-width",1)
							;//links
			
			// ==================== Add Link Names =====================
			var linkTexts = svg.selectAll(".link-text")
		                .data(graph.links)
		                .enter()
		                .append("text")
							.attr("class", "link-text")
							.text( function (d) { return d.predicate; })
						;

				//linkTexts.append("title")
				//		.text(function(d) { return d.predicate; });
						
			// ==================== Add Link Names =====================
			var nodeTexts = svg.selectAll(".node-text")
		                .data(graph.nodes)
		                .enter()
		                .append("text")
							.attr("class", "node-text")
							.text( function (d) { return d.label; })
						;

				//nodeTexts.append("title")
				//		.text(function(d) { return d.label; });
			
			// ==================== Add Node =====================
			var nodes = svg.selectAll(".node")
								.data(graph.nodes)
								.enter()
								.append("circle")
									.attr("class", "node")
									.attr("r",8)
									.call(force.drag)
							;//nodes
		
			// ==================== Force ====================
			force.on("tick", function() {
				nodes
					.attr("cx", function(d){ return d.x; })
					.attr("cy", function(d){ return d.y; })
					;
				
				links
					.attr("x1", 	function(d)	{ return d.source.x; })
			        .attr("y1", 	function(d) { return d.source.y; })
			        .attr("x2", 	function(d) { return d.target.x; })
			        .attr("y2", 	function(d) { return d.target.y; })
			       ;
				   
				nodeTexts
					.attr("x", function(d) { return d.x + 12 ; })
					.attr("y", function(d) { return d.y + 3; })
					;
					

				linkTexts
					.attr("x", function(d) { return 4 + (d.source.x + d.target.x)/2  ; })
					.attr("y", function(d) { return 4 + (d.source.y + d.target.y)/2 ; })
					;
			});
			
			// ==================== Run ====================
			force
		      .nodes(graph.nodes)
		      .links(graph.links)
			  .charge(-500)
			  .linkDistance(100)
		      .start()
			  ;
		}
		
		
	</script>
</head>
<body style="margin:20px;">
  <h1>EDIS Has A Use Case</h1>
  <div id="svg-body" class="panel-body"></div>
  <script>
  	var triples = [
  			{subject:"EDIS", 	predicate:"has a", 	object:"use case"},
  			{subject:"inflammatory bowel disease", 	predicate:"has a", 	object:"use case"},
  			{subject:"inflammatory bowel disease", 	predicate:"is a", 		object:"indication"},
  			{subject:"inflammatory bowel disease", 	predicate:"has clinical trial", 	object:"Eucalyptus"},
  			{subject:"Eucalyptus", 	predicate:"has", 	object:"patients"},
  			{subject:"Placebo", 	predicate:"have", 	object:"N = 41 (15 aTNF-naïve/ 25 aTNF-IRa)"},
  			{subject:"Etrolizumab 300 mg + 420 mg LD", 	predicate:"have", 	object:"n = 39 (12 aTNF-naïve/ 25 aTNF-IRa)"},
  			{subject:"Etrolizumab 100 mg", 	predicate:"have", 	object:"n = 39 (16 aTNF-naïve/ 22 aTNF-IRa)"},
  			{subject:"patients", 	predicate:"have treatment", 	object:"Placebo"},
  			{subject:"patients", 	predicate:"have treatment", 	object:"Etrolizumab 300 mg + 420 mg LD"},
  			{subject:"patients", 	predicate:"have treatment", 	object:"Etrolizumab 100 mg"},
  			{subject:"inflammatory bowel disease", 	predicate:"has clinical trial", 	object:"Laurel"},
  			{subject:"inflammatory bowel disease", 	predicate:"has clinical trial", 	object:"Hickory"},
  			{subject:"inflammatory bowel disease", 		predicate:"has score", 	object:"Mayo Clinic Score (MCS)"},
  			{subject:"Mayo Clinic Score (MCS)", 		predicate:"is comprised of", 	object:"stool frequency (SF)"},
  			{subject:"stool frequency (SF)", 		predicate:"increase", 	object:"SF increase none"},
  			{subject:"stool frequency (SF)", 		predicate:"increase", 	object:"1-2 stools/day more than normal"},
  			{subject:"stool frequency (SF)", 		predicate:"increase", 	object:"3-4 stools/day more than normal"},
  			{subject:"stool frequency (SF)", 		predicate:"increase", 	object:">4 stools/day more than normal"},
  			{subject:"SF increase none", 		predicate:"adds to MCS", 	object:"SF += 0"},
  			{subject:"1-2 stools/day more than normal", 		predicate:"adds to MCS", 	object:"SF += 1"},
  			{subject:"3-4 stools/day more than normal", 		predicate:"adds to MCS", 	object:"SF += 2"},
  			{subject:">4 stools/day more than normal", 		predicate:"adds to MCS", 	object:"SF += 3"},
  			{subject:"Mayo Clinic Score (MCS)", 		predicate:"is comprised of", 	object:"rectal bleeding (RB)"},
  			{subject:"rectal bleeding (RB)", 		predicate:"has observation", 	object:"RB increase none"},
  			{subject:"rectal bleeding (RB)", 		predicate:"has observation", 	object:"visible blood with stool less than half the time"},
  			{subject:"rectal bleeding (RB)", 		predicate:"has observation", 	object:"visible blood with stool half the time or more"},
  			{subject:"rectal bleeding (RB)", 		predicate:"has observation", 	object:"passing blood alone"},
  			{subject:"RB increase none", 		predicate:"adds to MCS ", 	object:"RB += 0"},
  			{subject:"visible blood with stool less than half the time", 		predicate:"adds to MCS", 	object:"RB += 1"},
  			{subject:"visible blood with stool half the time or more", 		predicate:"adds to MCS", 	object:"RB += 2"},
  			{subject:"passing blood alone", 		predicate:"adds to MCS", 	object:"RB += 3"},
  			{subject:"Mayo Clinic Score (MCS)", 		predicate:"is comprised of", 	object:"mucosal appearance at endoscopy (ES)"},
  			{subject:"mucosal appearance at endoscopy (ES)", 		predicate:"has observation", 	object:"ES normal or inactive"},
  			{subject:"ES normal or inactive", 		predicate:"adds to MCS", 	object:"ES += 0"},
  			{subject:"mucosal appearance at endoscopy (ES)", 		predicate:"has observation", 	object:"Mild disease (erythema, decreased vascular pattern, mild friability)"},
  			{subject:"Mild disease (erythema, decreased vascular pattern, mild friability)", 		predicate:"adds to MCS ", 	object:"ES += 1"},
  			{subject:"mucosal appearance at endoscopy (ES)", 		predicate:"has observation", 	object:"Moderate disease (marked erythema, absent vascular pattern, friability, erosions)"},
  			{subject:"Moderate disease (marked erythema, absent vascular pattern, friability, erosions)", 		predicate:"adds to MCS", 	object:"ES += 2"},
  			{subject:"mucosal appearance at endoscopy (ES)", 		predicate:"has observation", 	object:"Severe disease (spontaneous bleeding, ulceration)"},
  			{subject:"Severe disease (spontaneous bleeding, ulceration)", 		predicate:"adds to MCS", 	object:"ES += 3"},
  			{subject:"Mayo Clinic Score (MCS)", 		predicate:"is comprised of", 	object:"physician rating of disease activity (DA)"},
  			{subject:"physician rating of disease activity (DA)", 		predicate:"has observation", 	object:"DA normal"},
  			{subject:"DA normal", 		predicate:"adds to MCS", 	object:"DA += 0"},
  			{subject:"physician rating of disease activity (DA)", 		predicate:"has observation", 	object:"DA mild"},
  			{subject:"DA mild", 		predicate:"adds to MCS", 	object:"DA += 1"},
  			{subject:"physician rating of disease activity (DA)", 		predicate:"has observation", 	object:"DA moderate"},
  			{subject:"DA moderate", 		predicate:"adds to MCS", 	object:"DA += 2"},
  			{subject:"physician rating of disease activity (DA)", 		predicate:"has observation", 	object:"DA severe"},
  			{subject:"DA severe", 		predicate:"adds to MCS", 	object:"DA += 3"}
  		];
		
	var svg = d3.select("#svg-body").append("svg")
				.attr("width", 1200)
				.attr("height", 900)
				;
				
	var force = d3.layout.force().size([1200, 900]);
	
	var graph = triplesToGraph(triples);
	
	update();
	
  </script>
  

  <footer style="margin-top:40px; padding:20px; height:50px; border-top:1px solid #eee; background:#fafafa; text-align:center">
	By: <strong>Jeffrey C. Long</strong>
	<br/>
	<a target="_blank" href="https://github.com/jeffreyCarlLong/gold-dragon/blob/master/d3Rdf.Rhtml">GitHub</a> | <a target="_blank" href="https://lightoffsnow.wordpress.com/2010/09/24/fishing-in-trinity-alps/">Trinity Alps</a>
  </footer>
</body>
